* {
    /* Adding 0 margin because otherwise spacing is added to everything */
    margin: 0;
}

html, body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Do NOT add height to the containers, this will prevent them
from growing with the content inside of them.  */
#container {
}

/* Intro */

#intro {
    /* Don't put height attribute here. This is a container for background image */
}

#intro-background-image { 
    background: url('../img/roberto-nickson-rJeuNM5ZFMI-unsplash.jpg') no-repeat center center;
    /* 
       To make image look like it's "zoomed" in, we simply
       set background-size to 120% and adjust it for different screen sizes.
    */
    background-size: 115%;
}

#overlay {
    height: 100vh;
    background-color: #1212124d;

    /* Used for navbar, intro-title, background-credit */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar-sections {
    background-color: aqua;
    height: 15vh;
}

#navbar-sections ul {
    height: 100%;
    padding: 0;
    list-style: none;

    /* Used for navigation links */
    display: flex;
    align-items: center;
}

#navbar-sections li {
    margin-left: 3.5rem;
}

#navbar-sections a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 400;
}


#hamburger {
    display: none;
}

#intro-title {
    height: 40vh;
    background-color: blue;
}

#background-credit {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#background-credit a {
    height: 1rem;
    margin-right: 1.2rem;
}

/* About */

#about {
    background-color: rebeccapurple;
    height: 100vh;
}

#main-projects {
    /* container */
}

#main-projects-first {
    background-color: violet;
}


#main-projects-second {
    background-color: sienna;
}

.project {
    height: 100vh;
}

#additional-projects {
    background-color: teal;
    height: 100vh;
}

