* {
    /* Adding 0 margin because otherwise spacing is added to everything */
    margin: 0;
}

html, body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Do NOT add height to the containers, this will prevent them
from growing with the content inside of them.  */
#container {
}

/* Intro */

#intro {
    /* Don't put height attribute here. This is a container for background image */
}

#intro-background-image { 
    /* Location of image */
    background: url('../img/roberto-nickson-rJeuNM5ZFMI-unsplash.jpg');
    
    /* Background image is centered vertically and horizontally */
    background-position: center center;
    background-repeat: no-repeat;
    /* 
        Background image is fixed so that it doesn't move when
        the content's height is greater than the image's height 
    */
    background-attachment: fixed;
    /* Rescales background image based on container's size */
    background-size: cover;
}

#overlay {
    height: 100vh;
    background-color: #1212123f;

    /* Used for navbar, intro-title, background-credit */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Instead of defining multiple margins/paddings for
    intro-title and the navigation bar, we'll set the foundation
    here */
    padding-left: 2.5rem;
}

#navbar-sections {
    /* background-color: aqua; */
    position: fixed;
    height: 15vh;
}

#navbar-sections ul {
    height: 100%;
    padding: 0;
    list-style: none;

    /* Used for navigation links */
    display: flex;
    align-items: center;
}

#navbar-sections li:first-of-type {
    margin-left: 0;
}

#navbar-sections li {
    margin-left: 3.8rem;
}

#navbar-sections a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
}


#hamburger {
    display: none;
}

#intro-title {
    height: 60vh;
    
    /* This is currently giving me issues. Need to figure 
    out how to handle different screen heights. */
    padding-top: 8%;
    font-weight: 400;
}

#intro-title p:first-of-type {
    font-size: 5.5rem;
}

#intro-title p:nth-of-type(2){
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.801);
}

#intro-title p:nth-of-type(3){
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.801);
    margin-top: 2rem;
}

#background-credit {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#background-credit a {
    height: 1rem;
    margin-right: 1.2rem;
}

/* About */

#about {
    background-color: rebeccapurple;
    height: 100vh;
}

#main-projects {
    /* container */
}

#main-projects-first {
    background-color: violet;
}


#main-projects-second {
    background-color: sienna;
}

.project {
    height: 100vh;
}

#additional-projects {
    background-color: teal;
    height: 100vh;
}

/* Media Queries */
@media only screen and (max-width: 767px) {

    #intro-background-image { 
        /* Using a smaller image to improve performance */
        background: url('../img/downtown-backrgound-large.jpg');
        
        /* 
           Having the horizontal background-position property set to
           38% places the buildings right on the middle
        */
        background-position: 38% center;
        background-repeat: no-repeat;
        /* 
            Background image is fixed so that it doesn't move when
            the content's height is greater than the image's height 
        */
        background-attachment: fixed;
        /* Rescales background image based on container's size */
        background-size: cover;
    }
}
